{
  "app": {
    "guid": "2fb0892b-c92b-47fb-80c6-70ea4ab3d8ac"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators"
  },
  "security": {
    "token": "MmZiMDg5MmItYzkyYi00N2ZiLTgwYzYtNzBlYTRhYjNkOGFj",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "Brazil/East",
  "timeZoneOffset": -180
}